@model List<TaskManager.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Просмотр Задач</h1>

<p>
    <a asp-action="Create" asp-controller="TaskModels" asp-route-id="@Model[0].KategoriId">Создать задачу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    Название: @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    Дедлайн: @Html.DisplayFor(modelItem => item.TaskDeadline)
                </td>
                <td>
                    Статус: @Html.DisplayFor(modelItem => item.TaskStatus)
                </td>
                <td>
                    Приоритет: @Html.DisplayFor(modelItem => item.TaskImportance)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
